@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/AdminLTE/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Задачи по логическому программированию</h1>
    <hr />
    <div class="row">

        <div class="col-12 mb-3">
            <h3>Разработка элементарных баз знаний</h3>
         
        </div>
        <hr />
        <div class="col-12">
            <h3>Задание</h3>
            <p class="text-justify">
                Разработайте и испытайте процедуры поиска и вывода на экран таких логических функций как: «НЕ», «ИЛИ». Их необходимо выполнить без использования стандартных (встроенных) предикатов.
                Проверьте, как проходит пошаговое исполнение про-цесса унификации цели. Очевидно, что на данном скриншоте присутствует только часть трассировки.
                Далее найдите в помощи Пролога описание логических функций в исполнении стандартных предикатов. Разработай-те программу и исследуйте предикаты: bitand, bitor, bitxor, bitnot, bitleft и bitright.
            </p>


        </div>

    </div>

</div>
